* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    text-align: center;
    padding-top: 160px;
    background-image: url('./assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-weight: 16px;
    line-height: 19px;
    color: #ffffff;
}


h3 span {

    color: #ffc700;
}


h1 {
    color: #ffc700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

p {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    opacity: 0.7;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;

}

a:hover,
.btn-primary {
    text-decoration: none;
    color: #000000;
    background-color: #ffc700;
    opacity: 1;
}